{% extends 'base.html' %}
{% block title %} Add Book {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% for book in books %}
<div class="col-md-6" style="margin:0 auto;">
  <div class="jumbotron" style="background-color: #9fc9f2;">
    <h5 class="card-title">{{book.name}}</h5>
    <p class="card-text">{{book.date_added}}</p>
    <p class="card-text">{{book.date_modified}}</p>
  <a href="{% url 'delete_book' book.id %}" class="btn btn-danger">Delete</a>
  <a href="{% url 'edit_book' book.id %}" class="btn btn-warning">Edit</a>
</div>
</div>
{% endfor %}
{% endblock %}