{% extends 'base.html' %}
{% block title %} Add Book {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-md-6" style="margin:0 auto;">
        <div class="card container-fluid" style="margin-top: 1rem;">
            <div class="card-body">
                <form class="" id="id-bookform" method="post">
                    {% csrf_token %}
                    {% crispy form %}
                    <br>  
                 </form>
                 <button form="id-bookform" type="submit" class="btn btn-primary">Add</button>
                 <button form="id-bookform" type="reset" class="btn btn-danger">Reset</button>
            </div>
          </div>
    </div>
</div>

{% endblock %}